nav{
    display: flex;
    width: 100%;
    background-color: #efb739;
    justify-content: space-around;
    align-items: center;
    
    
}
.logoTitle{
display: flex;
align-items: flex-end;
}
.menuItems{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    
}

.homePng{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #293462;
    justify-content: center;

    
}
.homePng img{
    width: 70%;
    height: 60%;   
}
.burgerMenu{
    display: flex;
    width: 6vw;
    height: 5vw;
    background-color:#FFF80A ;
    border: solid;
    border-width: 1px;
    border-radius: 10px ;
    justify-content: center;
    align-items: center;
}
.logo2{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: 1px solid;
}
#mainContent{
    background-color: black;
    display: flex;
}
.sectionPerfil{
    display: grid;
    width: 20vw;
    height: 70vh;
    background-color: #293462;
    min-height: 400px;
    
    /* position: fixed;  */
}
.firstDivPerfil{
background-color: #D61C4E;
display: grid;
justify-content: center;
justify-items: center;
align-items: center;
}
.divPerfil{
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;

}

.photoPerfil{
width: 13vw;
height: 13vw;
background-color: black;
border-radius: 50%;

}
#imgPerfil{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover ; 
object-position: center;
border: 3px solid #FFF80A;

}
#muroContainer{
    display: grid;
    width: 80vw;
    justify-content: center;
}
#divContainer{
    background-color: #ffffff;
    width: 45vw;
    display: grid;
    justify-items: center;
}

.sectionPublication{
    width: 40vw;
    background-color: #e0e3e2;
    display: grid;
    border-radius: 10px;
    margin-top: 5px;
  
}
.divcamera{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    border-radius: 6px;
}
.inputFiles{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    border:0.5px solid;
    box-sizing: border-box;
    cursor: pointer;
}
.inputFiles:hover{
    background-color: #D61C4E;
}
#compartirImg{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;

}
.inputFiles label{
    width: 90%;
    margin-left: 5%;
    height: 90%;
    display: block;
    background: transparent url('img/camera.png') no-repeat center center;
    background-size: cover;
}


.buttonGeneralPublication{
    
    display: flex;
    justify-content: flex-end;
    }
.buttonPublication{
    width: 30%;
    height: 35px;
    border: 0.5px solid;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.3rem;
}

.buttonPublication:first-child{
    background-color: #293462;
    color: #ffffff;
}
.buttonPublication:hover{
    background-color: #D61C4E;
    }
.namePhotoPublication{
    display: flex;
    align-items: center;
    position: relative;
    
}
.namePhotoPublication img{
    border-radius: 50%;
    margin-left: 1vw;
    border: solid #293462;
    margin-right: 2%;
}
#privacyPostArea{
    position: absolute;
    right: 1vw;
    font-size: 15px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0px 10px;
}
    

#inputText{
    width: 90%;
    margin: 1% 5%;
    height: 80px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    resize: none;
    font-size: 16px;
}
#addImage{
    display: flex;
    width: 100%;
}
#addImage img {
    margin-left:5%;
    position: relative;
    border-radius: 5px ;
    width: 100px;
    height: 100px;
    object-fit: cover ; 
    object-position: center;
}
#addImage img:first-child {
    margin-left:5%;
}
#addImage span{
    position: absolute;
    right: 1%;
    top: 1%;
    z-index: 1;
    color: red;
    cursor: pointer;
}
.imageContainer{
    display: inline-block;
    position: relative;
}
#postContainer {
    display: grid;
    width: 90%;
}
.postsContent {
    display: grid;
    background-color: #ff7600;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin: 1% 0;
}
.postNameImage {
    display: flex;
    width: 100%;
    background-color: blue;
}
.postText {
    display: flex;
    align-items: center;
}
.postReaction {
    display: flex;
    align-items: center;
}